
ENVIRONMENT=staging
DJANGO_SECRET_KEY=your_secret_key
DEBUG=True
DJANGO_LOGLEVEL=DEBUG
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,*
DATABASE_NAME=booking_db
DATABASE_USERNAME=aUsername
DATABASE_PASSWORD=NotTheRealPassword1234
DATABASE_HOST=db
DATABASE_PORT=5432
WEB_PORT=8000
REDIS_HOST=redis
REDIS_PORT=6379
CSRF_TRUSTED_ORIGINS=https://booking.seniorkursussletten.dk
DEFAULT_FROM_EMAIL=noreply@seniorkursussletten.dk
EMAIL_HOST=smtp.seniorkursussletten.dk
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=noreply@seniorkursussletten.dk
EMAIL_HOST_PASSWORD=NotTheRealPassword1234
EMAIL_TIMEOUT=30
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
