.leaflet-container,
.leaflet-pane,
.leaflet-control-container,
.leaflet-map-pane,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-tooltip-pane,
.leaflet-popup-pane {
  z-index: 1 !important;
}

#submit-row {
  position: relative;
  z-index: 10 !important;
}

#submit-row .button, #submit-row .default, #submit-row a {
  position: relative;
  z-index: 10 !important;
}
